<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Restaurant Inventory{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'index' %}">Inventory</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'purchases' %}">Purchases</a></li>
            <li><a href="{% url 'profit_revenue' %}">Profit & Revenue</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Simple restaurant Inventory</p>
    </footer>
</body>
</html>