{% extends 'inventory/base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
<h1>Menu</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Ingredients</th>
        </tr>
    </thead>
    <tbody>
        {% for item in menu_items %}
        <tr>
            <td>{{ item.title }}</td>
            <td>${{ item.price }}</td>
            <td>
                <ul>
                    {% for req in item.ingredients %}
                    <li>{{ req.ingredient.name }}: {{ req.quantity }} {{ req.ingredient.unit }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}